@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #672b7a,
  $secondary: color.scale(#ffbb00, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #0d0011,
  $error: color-palette.$red-700
);

@use '@material/typography/index' as typography;

@font-face {
   font-family: 'Magistral-Light';
   src: url("fonts/Magistral-Light.ttf") format("truetype");
}

$font-main: 'Magistral-Light', Roboto, sans-serif;

app,
html,
body {
  display: block;
  height: auto;
  width: auto;
  position: static;
}

body {
  color: theme.$on-surface;
  background-color: theme.$background;
  margin: 0;
  box-sizing: border-box;
	font-family: $font-main;
}

html {
  @include typography.typography('body1');
  font-family: $font-main;
}

h1 {
  @include typography.typography('headline1');
  font-family: $font-main;
}

h2 {
  @include typography.typography('headline2');
  font-family: $font-main;
}

h3 {
  @include typography.typography('headline3');
  font-family: $font-main;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}

.market-book-text {
  fill: theme.$on-surface;
}

:root {
  --mdc-theme-background: theme.$background;
  --mdc-theme-text-hint-on-background: theme.$on-surface;
}